{% extends 'base.html' %}

{%block content %}


<h2> Adicionar Torcedor</h1>
    
    <div>
        <form action="/adicionar" class="container" method="post">
            <div class="row">
                <div>
                    <input type="text" name="nome" id="Nome" placeholder="Nome Completo">
                </div>
                <div>
                    <input type="date" name="data_de_nascimento" id="data_de_nascimento" placeholder="Data de Nascimento">
                </div>
                <div>
                    
                    <input list="browsers" name="time" id="time" placeholder="Time que torce" maxlength="20">
                    <datalist id="browsers">
                        <option value="vasco">
                        <option value="flamengo">
                        <option value="fluminense">
                        <option value="botafogo">
                        <option value="palmeiras">
                    </datalist>
                </div>
                <div>
                    <input type="email" name="email" id="email" placeholder="Email">
                </div>
                <div>
                    <input type="text" name="cpf" id="cpf" placeholder="CPF" onkeyup="cpfCheck(this)" maxlength="14" onkeydown="javascript: fMasc( this, mCPF );"> <span id="cpfResponse"></span>
                </div>
            </div>
            <div>
                <button type="submit" class="btn-block btn-success">Enviar</button>
            </div>
        </form>
    </div>

    {%endblock content %}